
*,
*::before,
*::after {
  box-sizing: border-box;
}



body {
    font-family: 'Quicksand', sans-serif; 
    background-color: #8c8c9d;

}
.container {
    height: 530px;
    width: 1000px;
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    background-color:  #e5e4d7;
    padding: 20px;
    border: 2px solid black;
    border-radius: 20px;
    box-shadow: 0 0 8px 3px #fff;

}

.title {
    padding-top:20px;
    text-align: center;
    font-size: 36px;
    text-transform: uppercase;
    color: #08038c;
}

.good {
    padding:5px;
    text-align: center;
    font-size: 16px;
    font-weight:bold;
    font-family: serif;

}
p {
    padding-top:5px;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    font-family: serif;

  
}

.question {
    background-color: rgba( 255, 255, 255, 0.5);
    font-size: 22px;
    padding: 20px;
    margin: 10px 0 10px 10px;
    border-radius: 10px;
    color: black;
    font-weight: bold;

}
.choice {
    background-color: rgba(255, 255,255, 0.5);
    color: #000000;
    display: inline-block;
    vertical-align: middle;
    padding: 30px;
    margin: 10px 0 10px 10px;
    border-radius: 20px;
    width: 200px;
}
.choice:hover {
    background-color: orange;
    color: #f6f6f6;

}

#start-btn {

    background-color:rgba( 255, 255, 255, 0.5);
    outline: none;
    height: 35px;
    margin: 10px;
    border: none;
    width: 100px;
    float: right;
    cursor: pointer;
    border-radius: 20px;
    font-size: 1rem;

}

#start-btn:hover {
    background-color: purple;
    color: #f6f6f6;
    font-size: 1rem;
}

.next-btn {
    background-color: 255, 255, 255, 0.5;
    outline: none;
    height: 35px;
    margin: 10px;
    border: none;
    width: 100px;
    float: right;
    cursor: pointer;
    border-radius: 20px;
}

.next-btn:hover {
    background-color:purple;
    color: #f6f6f6;
}

.result {
    height: 100px;
    text-align: center;
    font-size: 75px;
}
.choice input:checked {
background-color: #08038c;
color: #000;
}


/* .head {
    width: 1000px;
} */

 @media screen and (min-width:425px) and (max-width:1223px) {
    .container {
        width: 90%;
    }
} 






















